/Intermediate
/Saved
/Script
/ProjectZ.sln
/.vs
/Binaries
/DerivedDataCache
/Content/Developers
/Content/Map
/Content/Megascans
/Content/MSPresets
/Content/Nodachi_Animset
/Content/ParagonKallari
/Content/Equip.uasset
/Content/Unequip.uasset
/Content/__ExternalActors__
/Content/A_Surface_Footstep
/Content/AnimalVarietyPack
/Content/Assets
/Content/Characters
/Content/Collections
/Content/CPStreetBoy
/Content/Destructibles
/Content
